@import 'normalize.css';

body {}

img {
  max-width: 100%;
  height: auto;
}

#page {
  background-color: #eee; }
  #page header {
    clear: both;
    background-color: #111;
    border-bottom: 1px solid black;
    box-shadow: 0 0.3em 0.2em #666;
    margin-bottom: 0.75em;
    width: 100%;
    height: 3.5em; }
    #page header hgroup {
      float: left; }
      #page header hgroup h1 {
        display: inline;
        margin: 0;
        padding: 0;
        font-weight: normal;
        font-size: 2em;
        line-height: 1em;
        margin-left: 1em;
        border-bottom: 1px solid #999;
        color: #eee; }
        #page header hgroup h1 span {
          font-weight: bold;
          color: #970018; }
      #page header hgroup h2 {
        margin: 0;
        padding: 0; 
        font-size: 1.1em;
        line-height: 1em;
        margin-left: 5em;
        color: #eee; }
  #page nav {}
    #page nav ul {
      margin-left: 2em;
      display: inline; 
      border-bottom: 1px solid #999;
      float: left; }
      #page nav ul li {
        font-size: 1.1em;
        margin-right: 0.5em;
        line-height: 2em;
        display: inline; }
        #page nav ul li a {
          color: #999;
          text-decoration: none;
        }
    #page nav #social-networks {
      float: right; 
      display: inline; }
      #page nav #social-networks .in {
        display: inline-block;
        border-bottom: 1px solid #999;
      }
      #page nav #social-networks .in a {
        font-size: 1.1em;
        color: #999;
        text-decoration: none;
        margin-right: 0.5em;
        line-height: 2em; }
      #page nav #social-networks form {
        margin-left: 2em;
        margin-right: 1em;
        display: inline; }
        #page nav #social-networks form input {}
  #page #running-board {
    clear: both; 
    background: white;
    height: 6em;
    width: 100%;
    padding: 0.5em 0;
    box-shadow: 0 0.3em 0.2em #aaa;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #999; }
    #page #running-board hgroup {
      width: 50%;
      margin: 0 auto;
      background-color: #333;
      border: 1px solid black;
      border-radius: 4px;
      color: #eee; }
      #page #running-board hgroup h1 {
        color: #fff;
        text-align: center;
        margin: 0;
        padding: 0; }
      #page #running-board hgroup h2 {
        text-align: center;
        margin: 0;
        padding: 0; }
  #page #main {}
    #page #main #front-page {}
      #page #main #front-page nav {
        float: right;
        width: 27%;
        height: 100%;
      }
      #page #main #front-page article {
        width: 72.9%;
        height: 100%;
        padding: 1em 0 1em 1em;
        margin-top: 1em;
        border: 1px solid #999;
        box-shadow: 0 0.3em 0.2em #aaa;
      }
      #page #main #front-page article figure {
        width: 25%;
        float: left;
      }

      #page #main #front-page article h1 {
        border-bottom: 1px solid;
      }

      #page #main #front-page article .entry-content {
        padding: 1em 1em 1em 16em;
      }

      #page #main #front-page article time {
        padding: 0 1em 0 1em;
      }

      #page #main #front-page article .byline {
        padding: 0 1em 0 16em;
      }
